DISCORD_TOKEN=your_discord_bot_here

# RapidAPI credentials for instagram-looter2.p.rapidapi.com
# Sign up at https://rapidapi.com/, subscribe to the API, then paste the
# x-rapidapi-key value here. (The host defaults to the right value already.)
RAPIDAPI_HOST=instagram-looter2.p.rapidapi.com
RAPIDAPI_KEY=your_rapidapi_key_here
